*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 30px;
	color: white;
	text-shadow: 0 0 10px rgb(0,0,0);
}
.flex-container {
	display: flex;
	height: 100vh;
	justify-content: center;
}
.item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	transition: all 0.4s;
	&:hover{
		width: 70%;
	}
}
.item-1{
	background: url('../img/1.jpg') no-repeat center center;
		background-size: cover;
}
.item-2{
	background: url('../img/2.jpg') no-repeat center center;
		background-size: cover;
}
.item-3{
	background: url('../img/3.jpg') no-repeat center center;
		background-size: cover;
}
.item-4{
	background: url('../img/4.jpg') no-repeat center center;
		background-size: cover;
}
@media (max-width: 640px) {
	.flex-container {
		flex-direction: column;
	}
	.item {
		height: 25%;
		width: 100%;

		&:hover{
			width: 100%;
			height: 75vh;
		}
	}
}
